@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Space Grotesk", monospace;
  color-scheme: dark;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::selection {
  background: #b4ff39;
  color: #170f1e;
}
